<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhsppiS0Un8ZhZ6qvGwRUN0tFMKj3Ftrk</string>
	<key>GCM_SENDER_ID</key>
	<string>548418055494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nav.india</string>
	<key>PROJECT_ID</key>
	<string>navindia-6cc54</string>
	<key>STORAGE_BUCKET</key>
	<string>navindia-6cc54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548418055494:ios:caec3578bcb4c9ef308947</string>
</dict>
</plist>